.profile-card{

    width: auto;
    height: auto;
    max-width: 360px;
    
    text-align: center;
    margin:auto;
    box-shadow: 0px 0px 8px black;
    
}

.profile-body{

    background-color: #ffffff;
    padding: 20px 40px 40px 40px;

}

.name{
   
   font-size: 25px;
   color: black;

}

.resume {
   
    position: relative;
    top: 25px;
   
}

.resume a {

    text-decoration: none;

}


.resume a:hover {

    color: black;

}

